<footer>
  <div class="footer-content">
    <ul class="social-links">
      <li><a href="https://twitter.com/myblog" target="_blank">Twitter</a></li>
      <li><a href="https://facebook.com/myblog" target="_blank">Facebook</a></li>
      <li><a href="https://instagram.com/myblog" target="_blank">Instagram</a></li>
    </ul>
  </div>
</footer>
