<header>
  <div class="logo">
    <a href="{{ '/en/' | url }}">
      <img src="/images/logo.png" alt="My Blog Logo">
    </a>
  </div>

  <nav>
    <ul>
      {% for lang, data in languages %}
        <li>
          <!-- Add 'active' class if the current language matches the looped language -->
          <a href="{{ data.url }}" class="{% if language == lang %}active{% endif %}">
            {{ data.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
