/* Header */
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header .logo img {
  height: 40px;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a.active {
  font-weight: bold;
  color: yellow; /* Or any color to highlight the active language */
}

/* Footer */
footer {
  background-color: #222;
  color: white;
  padding: 10px;
  text-align: center;
}

footer .social-links {
  list-style: none;
  padding: 0;
}

footer .social-links li {
  display: inline;
  margin: 0 10px;
}

footer .social-links li a {
  color: white;
  text-decoration: none;
}
